Nodered/Distance.txt
[{"id":"4a260dad.a41244","type":"tab","label":"Distance","disabled":false,"info":""},{"id":"ce1b6b95.6ff598","type":"function","z":"4a260dad.a41244","name":"Calcul_distance","func":"function distance(lat1, lon1, lat2, lon2, unit) {\n\tif ((lat1 == lat2) && (lon1 == lon2)) {\n\t\treturn 0;\n\t}\n\telse {\n\t\tvar radlat1 = Math.PI * lat1/180;\n\t\tvar radlat2 = Math.PI * lat2/180;\n\t\tvar theta = lon1-lon2;\n\t\tvar radtheta = Math.PI * theta/180;\n\t\tvar dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);\n\t\tif (dist > 1) {\n\t\t\tdist = 1;\n\t\t}\n\t\tdist = Math.acos(dist);\n\t\t//dist = dist * 180/Math.PI;\n\t\tdist = dist * 6371; // resultat en km\n\t\t//dist = dist * 60 * 1.1515;\n\t\t//if (unit==\"K\") { dist = dist * 1.609344 }\n\t\t//if (unit==\"N\") { dist = dist * 0.8684 }\n\t\t\n\t\treturn dist;\n\t}\n}\n\nif ( global.get(\"latitude2\")!==0 && global.get(\"latitude3\")!==0){\n    msg.payload=Math.round(distance(global.get(\"latitude2\"),global.get(\"longitude2\"), global.get(\"latitude3\"), global.get(\"longitude3\"), 'K')*1000); //  en mètres\n    //msg.payload=1;\n}else{\n    msg.payload=-1;\n}\nif ( global.get(\"latitude1\")!==0 && global.get(\"latitude2\")!==0){\n    var msg7={\"payload\":Math.round(distance(global.get(\"latitude1\"),global.get(\"longitude1\"), global.get(\"latitude2\"), global.get(\"longitude2\"), 'K')*1000)}; //  en mètres\n}else{\n    msg7={\"payload\":-1};\n}\nvar msg1={\"payload\": global.get(\"latitude2\")};\nvar msg2={\"payload\": global.get(\"latitude3\")};\nvar msg3={\"payload\": global.get(\"longitude2\")};\nvar msg4={\"payload\": global.get(\"longitude3\")};\nvar msg5={\"payload\": global.get(\"latitude1\")};\nvar msg6={\"payload\": global.get(\"longitude1\")};\nreturn [msg,msg1,msg2,msg3,msg4,msg5,msg6,msg7];","outputs":8,"noerr":0,"x":660,"y":420,"wires":[["b7ef39ac.164b48","87069892.110fb8"],["97874d7d.e3693"],["55782264.70f8fc"],["b984d2bd.0f778"],["38412395.10dd2c"],["2db0b208.fa708e"],["f2fbd6c3.846ed8"],["275f1559.fe485a"]]},{"id":"9e3a6ce8.cbeff","type":"mqtt in","z":"4a260dad.a41244","name":"","topic":"jeremie.pietri@laposte.net/sheep_data","qos":"2","datatype":"auto","broker":"f07646ea.0ac518","x":150,"y":160,"wires":[["7d2de4c3.48be9c"]]},{"id":"79ea1305.7030ec","type":"switch","z":"4a260dad.a41244","name":"Check_source","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"source\":2","vt":"str"},{"t":"cont","v":"\"source\":3","vt":"str"},{"t":"cont","v":"\"source\":1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":140,"y":460,"wires":[["24b3dc41.c3a014"],["2dc24aa3.096706"],["14e8a104.7934ef"]]},{"id":"7d2de4c3.48be9c","type":"function","z":"4a260dad.a41244","name":"Variable Globale","func":"// Définition d’une variable globale\nglobal.set(\"check_0\",{\"cpt\":0});\nif(global.get(\"check_0\")===0){\n    global.set(\"latitude1\",0);\n    global.set(\"longitude1\",0);\n    global.set(\"latitude2\",0);\n    global.set(\"longitude2\",0);\n    global.set(\"latitude3\",0);\n    global.set(\"longitude3\",0);\n}\nglobal.set(\"check_0\",1);\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":240,"wires":[["79ea1305.7030ec"]]},{"id":"24b3dc41.c3a014","type":"function","z":"4a260dad.a41244","name":"Set_Coordonnées2","func":"var data = JSON.parse(msg.payload);\n//var msg1={\"payload\": data.latitude};\nglobal.set(\"latitude2\",data.latitude);\nglobal.set(\"longitude2\",data.longitude);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["ce1b6b95.6ff598"]]},{"id":"2dc24aa3.096706","type":"function","z":"4a260dad.a41244","name":"Set_Coordonnées3","func":"var data = JSON.parse(msg.payload);\n//var msg2={\"payload\": data.latitude};\nglobal.set(\"latitude3\",data.latitude);\nglobal.set(\"longitude3\",data.longitude);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["ce1b6b95.6ff598"]]},{"id":"14e8a104.7934ef","type":"function","z":"4a260dad.a41244","name":"Set_Coordonnées1","func":"var data = JSON.parse(msg.payload);\n//var msg2={\"payload\": data.latitude};\nglobal.set(\"latitude1\",data.latitude);\nglobal.set(\"longitude1\",data.longitude);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":540,"wires":[["ce1b6b95.6ff598"]]},{"id":"b7ef39ac.164b48","type":"debug","z":"4a260dad.a41244","name":"DISTANCE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":340,"wires":[]},{"id":"97874d7d.e3693","type":"ui_text","z":"4a260dad.a41244","group":"e8a00aa3.a82a88","order":0,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":140,"wires":[]},{"id":"b984d2bd.0f778","type":"ui_text","z":"4a260dad.a41244","group":"e8a00aa3.a82a88","order":0,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":200,"wires":[]},{"id":"87069892.110fb8","type":"ui_text","z":"4a260dad.a41244","group":"491e758a.07758c","order":0,"width":0,"height":0,"name":"","label":"Maison-Gateway(en m)","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":280,"wires":[]},{"id":"55782264.70f8fc","type":"ui_text","z":"4a260dad.a41244","group":"af307f70.1d4e6","order":0,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":400,"wires":[]},{"id":"38412395.10dd2c","type":"ui_text","z":"4a260dad.a41244","group":"af307f70.1d4e6","order":0,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":460,"wires":[]},{"id":"275f1559.fe485a","type":"ui_text","z":"4a260dad.a41244","group":"491e758a.07758c","order":0,"width":0,"height":0,"name":"","label":"Terrain-Gateway(en m)","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":720,"wires":[]},{"id":"2db0b208.fa708e","type":"ui_text","z":"4a260dad.a41244","group":"79b4d4c5.c437bc","order":0,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":500,"wires":[]},{"id":"f2fbd6c3.846ed8","type":"ui_text","z":"4a260dad.a41244","group":"79b4d4c5.c437bc","order":0,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":680,"wires":[]},{"id":"f07646ea.0ac518","type":"mqtt-broker","z":"","name":"","broker":"www.maqiatto.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e8a00aa3.a82a88","type":"ui_group","z":"","name":"Coordonnées_Gateway","tab":"4a9de958.1e3f68","order":2,"disp":true,"width":"6","collapse":false},{"id":"491e758a.07758c","type":"ui_group","z":"","name":"Distance","tab":"4a9de958.1e3f68","order":5,"disp":true,"width":"6","collapse":false},{"id":"af307f70.1d4e6","type":"ui_group","z":"","name":"Coordonnées_maison","tab":"4a9de958.1e3f68","order":3,"disp":true,"width":"6","collapse":false},{"id":"79b4d4c5.c437bc","type":"ui_group","z":"","name":"Coordonnées_terrain","tab":"4a9de958.1e3f68","order":4,"disp":true,"width":"6","collapse":false},{"id":"4a9de958.1e3f68","type":"ui_tab","z":"","name":"Coordonnées GPS","icon":"dashboard","order":4,"disabled":false,"hidden":false}]