Nodered/Home.txt
[{"id":"c010e279.b0f748","type":"tab","label":"Home","disabled":false,"info":""},{"id":"72f2db53.bd0154","type":"http in","z":"c010e279.b0f748","name":"","url":"/mouton","method":"post","upload":false,"swaggerDoc":"","x":150,"y":40,"wires":[["733e2355.7641fc"]]},{"id":"47d41d53.50b19c","type":"ui_text","z":"c010e279.b0f748","group":"592d618e.960588","order":6,"width":0,"height":0,"name":"tracker 11","label":"","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":80,"wires":[]},{"id":"1986c42f.67711c","type":"ui_text","z":"c010e279.b0f748","group":"8a0d8a0e.218f4","order":6,"width":0,"height":0,"name":"tracker  22","label":"","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":80,"wires":[]},{"id":"7482eb87.e9cf74","type":"ui_text","z":"c010e279.b0f748","group":"41f79675.0edb2","order":6,"width":0,"height":0,"name":"tracker  33","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":80,"wires":[]},{"id":"542317df.0c5ae8","type":"ui_text","z":"c010e279.b0f748","group":"5faa3ea2.2abf2","order":6,"width":0,"height":0,"name":"tracker  9","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":80,"wires":[]},{"id":"733e2355.7641fc","type":"function","z":"c010e279.b0f748","name":"","func":"var info = global.get(\"info\") || [{\"error\":0,\"seq\":0},{\"error\":0,\"seq\":0},{\"error\":0,\"seq\":0},{\"error\":0,\"seq\":0}];\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[[]]},{"id":"c5f5886c.53fa58","type":"ui_text","z":"c010e279.b0f748","group":"9fdb60f0.57fc9","order":0,"width":0,"height":0,"name":"Gateway","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1340,"y":80,"wires":[]},{"id":"1d7f9000.9273f","type":"inject","z":"c010e279.b0f748","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":1210,"y":340,"wires":[["e499f992.ecf418","ba6439de.8195d8","2878a6cd.527e6a","d24ec1bd.60d27","2bd41349.c8ee6c","2a75cfc.444f03"]]},{"id":"e499f992.ecf418","type":"function","z":"c010e279.b0f748","name":"Calcul du temps Internet","func":"var data = global.get(\"tempsInternet\")|| {\"Internet\":0};\nvar t  =msg.payload;\nmsg.payload=(t - data.Internet)/1000;\nglobal.set(\"tempsInternet\",data);\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":440,"wires":[["2053c613.f22a4a","6ebad8d9.d180f8"]]},{"id":"2053c613.f22a4a","type":"debug","z":"c010e279.b0f748","name":"Time_Internet","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1760,"y":320,"wires":[]},{"id":"6ebad8d9.d180f8","type":"ui_gauge","z":"c010e279.b0f748","name":"Time","group":"9fdb60f0.57fc9","order":3,"width":"3","height":"3","gtype":"donut","title":"Last talk to Internet","label":"s","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","x":1770,"y":500,"wires":[]},{"id":"8966c96b.42ca28","type":"switch","z":"c010e279.b0f748","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Connected","vt":"str"},{"t":"cont","v":"{\"source\":9","vt":"str"},{"t":"cont","v":"\"source\":11","vt":"str"},{"t":"cont","v":"\"source\":22","vt":"str"},{"t":"cont","v":"\"source\":33","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":410,"y":340,"wires":[["cf47b257.cfe47"],["c1bfd49e.9c2e88"],["1e4db244.3602be"],["f4e2ec95.43e1a"],["5634b452.d08d7c"]]},{"id":"cf47b257.cfe47","type":"function","z":"c010e279.b0f748","name":"receptionInternet","func":"var data = global.get(\"tempsInternet\")|| {\"Internet\":0};\nvar d = new Date();\nvar t = d.getTime();\nvar trackeur= \"Internet\";\ndata.Internet= t;\nglobal.set(\"tempsInternet\",data);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":300,"wires":[[]]},{"id":"9f3027b2.83cf28","type":"mqtt in","z":"c010e279.b0f748","name":"","topic":"jeremie.pietri@laposte.net/sheep_data","qos":"2","datatype":"auto","broker":"f07646ea.0ac518","x":250,"y":220,"wires":[["8966c96b.42ca28"]]},{"id":"c1bfd49e.9c2e88","type":"function","z":"c010e279.b0f748","name":"receptionSource9","func":"var data = global.get(\"temps\")|| {\"trackeur11\":0, \"tracker22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar d = new Date();\nvar t = d.getTime();\n//var trackeur= \"trackeur9\";\ndata.trackeur9= t;\nglobal.set(\"temps\",data);\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":380,"wires":[["e72db54f.bd0a98"]]},{"id":"ba6439de.8195d8","type":"function","z":"c010e279.b0f748","name":"Calcul du temps trackeur 9","func":"var data = global.get(\"temps\")|| {\"trackeur11\":0, \"tracker22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar t  =msg.payload;\nmsg.payload=(t - data.trackeur9)/1000;\nif(msg.payload > 1800) {\n    msg.payload = 1800;\n}\n//global.set(\"temps\",data);\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":620,"wires":[["f76b3d83.9f85f"]]},{"id":"f76b3d83.9f85f","type":"ui_gauge","z":"c010e279.b0f748","name":"Time9","group":"5faa3ea2.2abf2","order":1,"width":"3","height":"3","gtype":"donut","title":"Last packet sent","label":"s","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":1790,"y":660,"wires":[]},{"id":"1e4db244.3602be","type":"function","z":"c010e279.b0f748","name":"receptionSource11","func":"var data = global.get(\"temps\")|| {\"trackeur11\":0, \"tracker22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar d = new Date();\nvar t = d.getTime();\n//var trackeur= \"trackeur9\";\ndata.trackeur11= t;\nglobal.set(\"temps\",data);\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":460,"wires":[["855fa985.439ca8"]]},{"id":"2878a6cd.527e6a","type":"function","z":"c010e279.b0f748","name":"Calcul du temps trackeur 11","func":"var data = global.get(\"temps\")|| {\"trackeur11\":0, \"tracker22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar t  =msg.payload;\nmsg.payload=(t - data.trackeur11)/1000;\nif(msg.payload > 1800) {\n    msg.payload = 1800;\n}\n//global.set(\"temps\",data);\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":740,"wires":[["718640d5.7a8cb"]]},{"id":"718640d5.7a8cb","type":"ui_gauge","z":"c010e279.b0f748","name":"Time11","group":"592d618e.960588","order":1,"width":"3","height":"3","gtype":"donut","title":"Last packet sent","label":"s","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"180","seg2":"240","x":1800,"y":780,"wires":[]},{"id":"d24ec1bd.60d27","type":"function","z":"c010e279.b0f748","name":"Calcul du temps trackeur 22","func":"var data = global.get(\"temps\")|| {\"trackeur11\":0, \"tracker22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar t  =msg.payload;\nmsg.payload=(t - data.trackeur22)/1000;\nif(msg.payload > 1800) {\n    msg.payload = 1800;\n}\n//global.set(\"temps\",data);\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":860,"wires":[["5de0f477.747a7c"]]},{"id":"5de0f477.747a7c","type":"ui_gauge","z":"c010e279.b0f748","name":"Time22","group":"8a0d8a0e.218f4","order":1,"width":"3","height":"3","gtype":"donut","title":"Last packet sent","label":"s","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"180","seg2":"240","x":1800,"y":900,"wires":[]},{"id":"2bd41349.c8ee6c","type":"function","z":"c010e279.b0f748","name":"Calcul du temps trackeur 33","func":"var data = global.get(\"temps\")|| {\"trackeur11\":0, \"tracker22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar t  =msg.payload;\nmsg.payload=(t - data.trackeur33)/1000;\nif(msg.payload > 1800) {\n    msg.payload = 1800;\n}\n//global.set(\"temps\",data);\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":980,"wires":[["fc0e5914.78fc18"]]},{"id":"fc0e5914.78fc18","type":"ui_gauge","z":"c010e279.b0f748","name":"Time33","group":"41f79675.0edb2","order":1,"width":"3","height":"3","gtype":"donut","title":"Last packet sent","label":"s","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"180","seg2":"240","x":1800,"y":1020,"wires":[]},{"id":"f4e2ec95.43e1a","type":"function","z":"c010e279.b0f748","name":"receptionSource22","func":"var data = global.get(\"temps\")|| {\"trackeur11\":0, \"tracker22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar d = new Date();\nvar t = d.getTime();\n//var trackeur= \"trackeur9\";\ndata.trackeur22= t;\nglobal.set(\"temps\",data);\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":540,"wires":[["8555cf3e.7b6ba"]]},{"id":"5634b452.d08d7c","type":"function","z":"c010e279.b0f748","name":"receptionSource33","func":"var data = global.get(\"temps\")|| {\"trackeur11\":0, \"tracker22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar d = new Date();\nvar t = d.getTime();\n//var trackeur= \"trackeur9\";\ndata.trackeur33= t;\nglobal.set(\"temps\",data);\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":620,"wires":[["79145815.00e2f8"]]},{"id":"2a75cfc.444f03","type":"function","z":"c010e279.b0f748","name":"Conversion Heure","func":"// unix timestamp\n//var ts =msg.payload ;//1565605570\n\n// convert unix timestamp to milliseconds\n//var ts_ms = ts * 1000;\n\n// initialize new Date object\n//var date_ob = new Date(ts_ms);\nvar date_ob = new Date();\n\n// date as 2 digits (DD)\n//var date = (\"0\" + date_ob.getDate()).slice(-2);\n\n// hours as 2 digits (hh)\n//var hours = (\"0\" + (date_ob.getHours() + 2)).slice(-2);\n\n// minutes as 2 digits (mm)\n//var minutes = (\"0\" + date_ob.getMinutes()).slice(-2);\n\n// seconds as 2 digits (ss)\n//var seconds = (\"0\" + date_ob.getSeconds()).slice(-2);\n\n// time as hh:mm format: \n//msg.payload=\"Time as hh:mm Format: \" + hours + \":\" + minutes;\nmsg.payload=date_ob.toLocaleString('en-EU', { timeZone: 'Europe/London' });\n//msg.payload=date_ob.toTimeString();\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":200,"wires":[["4ddba8ed.352918"]]},{"id":"4ddba8ed.352918","type":"debug","z":"c010e279.b0f748","name":"Time_Internet","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1660,"y":140,"wires":[]},{"id":"855fa985.439ca8","type":"ui_text","z":"c010e279.b0f748","group":"592d618e.960588","order":4,"width":0,"height":0,"name":"","label":"Reçu à","format":"{{msg.payload.slice(-11)}}","layout":"row-spread","x":920,"y":460,"wires":[]},{"id":"e72db54f.bd0a98","type":"ui_text","z":"c010e279.b0f748","group":"5faa3ea2.2abf2","order":4,"width":0,"height":0,"name":"","label":"Reçu à","format":"{{msg.payload.slice(-11)}}","layout":"row-spread","x":920,"y":380,"wires":[]},{"id":"8555cf3e.7b6ba","type":"ui_text","z":"c010e279.b0f748","group":"8a0d8a0e.218f4","order":4,"width":0,"height":0,"name":"","label":"Reçu à","format":"{{msg.payload.slice(-11)}}","layout":"row-spread","x":920,"y":540,"wires":[]},{"id":"79145815.00e2f8","type":"ui_text","z":"c010e279.b0f748","group":"41f79675.0edb2","order":4,"width":0,"height":0,"name":"","label":"Reçu à","format":"{{msg.payload.slice(-11)}}","layout":"row-spread","x":920,"y":620,"wires":[]},{"id":"592d618e.960588","type":"ui_group","z":"","name":"Tracker Terrain (n°11)","tab":"729ad69c.580de","order":1,"disp":true,"width":"6","collapse":false},{"id":"8a0d8a0e.218f4","type":"ui_group","z":"","name":"Tracker Gateway (n°22)","tab":"729ad69c.580de","order":2,"disp":true,"width":"6","collapse":false},{"id":"41f79675.0edb2","type":"ui_group","z":"","name":"Tracker maison (n°33)","tab":"729ad69c.580de","order":3,"disp":true,"width":"6","collapse":false},{"id":"5faa3ea2.2abf2","type":"ui_group","z":"","name":"Tracker UCA (n°9)","tab":"729ad69c.580de","order":4,"disp":true,"width":"6","collapse":false},{"id":"9fdb60f0.57fc9","type":"ui_group","z":"","name":"Raspberry","tab":"729ad69c.580de","order":5,"disp":true,"width":"6","collapse":false},{"id":"f07646ea.0ac518","type":"mqtt-broker","z":"","name":"","broker":"www.maqiatto.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"729ad69c.580de","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]