Node-RED/Dashboard.json
[
    {
        "id": "b10438e6.bafb38",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5c47dd7.eb2e624",
        "type": "switch",
        "z": "b10438e6.bafb38",
        "name": "SWITCH_SOURCE",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "\"source\":11",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "\"source\":22",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "\"source\":33",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "\"source\":9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "7d2d729d.52410c"
            ],
            [
                "e57fe231.2755c"
            ],
            [
                "f8e2ef3e.51ae9"
            ],
            [
                "7586c56d.0b0bcc"
            ]
        ]
    },
    {
        "id": "256507dc.f848c8",
        "type": "ui_gauge",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "bd57e474.b5b808",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Batterie",
        "label": "V",
        "format": "{{value}}",
        "min": "2.7",
        "max": "4.2",
        "colors": [
            "#b32400",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1040,
        "y": 740,
        "wires": []
    },
    {
        "id": "d89cf1f0.a29a5",
        "type": "debug",
        "z": "b10438e6.bafb38",
        "name": "Trackeur2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 840,
        "y": 580,
        "wires": []
    },
    {
        "id": "e57fe231.2755c",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Data22",
        "func": "var data = JSON.parse(msg.payload);\nvar msg1= { \"payload\": data.packet_number};\nvar msg2= { \"payload\": data.battery_voltage};\nvar msg3= { \"payload\": data.RSSI};\nvar msg4= { \"payload\": data.accelerometer.x};\nvar msg5= { \"payload\": data.accelerometer.y};\nvar msg6= { \"payload\": data.accelerometer.z};\nvar msg7= { \"payload\": data.ID_Relay};\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7];",
        "outputs": 7,
        "noerr": 0,
        "x": 700,
        "y": 720,
        "wires": [
            [
                "37ac4eae.950522",
                "9f9022df.23656",
                "d89cf1f0.a29a5",
                "5d55c2b4.fbd1ac",
                "58d68de3.70f574"
            ],
            [
                "256507dc.f848c8"
            ],
            [
                "6c84fdcd.c82bd4"
            ],
            [
                "97e32476.11cf88"
            ],
            [
                "359c178f.3daaa8"
            ],
            [
                "60091783.843ff8"
            ],
            [
                "580b10bb.6ce8",
                "cb88093b.fa9b28"
            ]
        ]
    },
    {
        "id": "158ec251.c60fee",
        "type": "mqtt in",
        "z": "b10438e6.bafb38",
        "name": "",
        "topic": "jeremie.pietri@laposte.net/sheep_data",
        "qos": "2",
        "datatype": "auto",
        "broker": "b5ffbb73.a2c408",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "3a9256a1.9d4d4a",
                "88cb01f0.f8d1"
            ]
        ]
    },
    {
        "id": "9f9022df.23656",
        "type": "ui_chart",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "c3065597.991778",
        "order": 1,
        "width": "6",
        "height": "7",
        "label": "Packet-number",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1060,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "6c84fdcd.c82bd4",
        "type": "ui_gauge",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "bd57e474.b5b808",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Puissance en réception",
        "label": "dbm",
        "format": "{{value}}",
        "min": "-120",
        "max": "-30",
        "colors": [
            "#b30000",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1090,
        "y": 780,
        "wires": []
    },
    {
        "id": "6aa23b34.029924",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "c3065597.991778",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet_number précédent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1400,
        "y": 560,
        "wires": []
    },
    {
        "id": "519f3ab0.225f74",
        "type": "inject",
        "z": "b10438e6.bafb38",
        "name": "JSON_DATA",
        "topic": "",
        "payload": "{\"source\":1,\"packet_number\":6,\"battery_voltage\":3.72,\"RSSI\":-40}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "30d51c18.9f2ae4"
            ]
        ]
    },
    {
        "id": "30d51c18.9f2ae4",
        "type": "mqtt out",
        "z": "b10438e6.bafb38",
        "name": "",
        "topic": "jeremie.pietri@laposte.net/sheep_data",
        "qos": "",
        "retain": "",
        "broker": "b5ffbb73.a2c408",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "37ac4eae.950522",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Modif_Variable_Globale",
        "func": "\nvar msg1= msg.payload;\nmsg.payload=global.get(\"count2\");\nif(msg1-global.get(\"count2\")-1>0){\n    var msg2 = {\"payload\" :msg1-global.get(\"count2\")-1};\n    global.set(\"cpt_lost_sheep\",msg1-global.get(\"count2\")-1+global.get(\"cpt_lost_sheep\"));\n    \n}else{\n    msg2 = {\"payload\" :0};\n}\nglobal.set(\"count2\",msg1);\n//var cpt = {\"payload\" :global.get(\"countS\")};\n\n//global.set(\"countS\",cpt1+cpt);\nvar msg3= {\"payload\": global.get(\"cpt_lost_sheep\")};\nreturn [msg,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 1090,
        "y": 600,
        "wires": [
            [
                "6aa23b34.029924"
            ],
            [],
            [
                "78788490.71c18c",
                "bdc6c1ef.3b123",
                "d21c612a.9e566"
            ]
        ]
    },
    {
        "id": "5d55c2b4.fbd1ac",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "c3065597.991778",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet_number actuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 700,
        "wires": []
    },
    {
        "id": "3a9256a1.9d4d4a",
        "type": "debug",
        "z": "b10438e6.bafb38",
        "name": "Données_MQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "f8e2ef3e.51ae9",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Data33",
        "func": "var data = JSON.parse(msg.payload);\nvar msg1= { \"payload\": data.packet_number};\nvar msg2= { \"payload\": data.battery_voltage};\nvar msg3= { \"payload\": data.RSSI};\nvar msg4= { \"payload\": data.accelerometer.x};\nvar msg5= { \"payload\": data.accelerometer.y};\nvar msg6= { \"payload\": data.accelerometer.z};\nvar msg7= { \"payload\": data.ID_Relay};\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7];",
        "outputs": 7,
        "noerr": 0,
        "x": 700,
        "y": 1240,
        "wires": [
            [
                "4b0dec18.80d004",
                "724d08ca.3604a8",
                "3b861bb6.9dba44",
                "a61ecc60.d6996"
            ],
            [
                "ee7bc458.27bdb8"
            ],
            [
                "9a04f20c.cadc4"
            ],
            [
                "5d0aeef2.9e5d6"
            ],
            [
                "bcb27461.dfb648"
            ],
            [
                "d62fbc6f.587c5"
            ],
            [
                "6729c07b.380b1",
                "6115cbdf.240524"
            ]
        ]
    },
    {
        "id": "ee7bc458.27bdb8",
        "type": "ui_gauge",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "79069a20.8598c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Batterie",
        "label": "V",
        "format": "{{value}}",
        "min": "2.7",
        "max": "4.2",
        "colors": [
            "#b32d00",
            "#e6e600",
            "#43cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1040,
        "y": 1240,
        "wires": []
    },
    {
        "id": "724d08ca.3604a8",
        "type": "ui_chart",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "2a9de522.10517a",
        "order": 1,
        "width": "6",
        "height": "7",
        "label": "Packet-number",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1060,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "9a04f20c.cadc4",
        "type": "ui_gauge",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "79069a20.8598c4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Puissance en réception",
        "label": "dbm",
        "format": "{{value}}",
        "min": "-120",
        "max": "-30",
        "colors": [
            "#b30000",
            "#e6e600",
            "#3acb4a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1090,
        "y": 1280,
        "wires": []
    },
    {
        "id": "7b6e3926.d40188",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "2a9de522.10517a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet_number précédent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1400,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3b861bb6.9dba44",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Modif_Variable_Globale",
        "func": "\nvar msg1= msg.payload;\nmsg.payload=global.get(\"count3\");\n\nif(msg1-global.get(\"count3\")-1>0){\n    var msg2={\"payload\":msg1-global.get(\"count3\")-1};\n    global.set(\"cpt_lost_Home\",msg1-global.get(\"count3\")-1+global.get(\"cpt_lost_Home\"));//+global.get(\"cpt_lost_Home\")\n}else{\n    msg2={\"payload\":0};\n}\nglobal.set(\"count3\",msg1);\nvar msg3={\"payload\":global.get(\"cpt_lost_Home\")};\nreturn [msg,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 1090,
        "y": 1100,
        "wires": [
            [
                "7b6e3926.d40188"
            ],
            [],
            [
                "69523162.783b3",
                "3bebbf20.a8182",
                "698cef25.c179"
            ]
        ]
    },
    {
        "id": "4b0dec18.80d004",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "2a9de522.10517a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet_number actuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 1200,
        "wires": []
    },
    {
        "id": "88cb01f0.f8d1",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Variable Globale",
        "func": "// Définition d’une variable globale\nglobal.set(\"last_packet_number1\",{\"count1\":0});\nglobal.set(\"last_packet_number2\",{\"count2\":0});\nglobal.set(\"last_packet_number3\",{\"count3\":0});\nglobal.set(\"last_packet_number9\",{\"count9\":0});\nglobal.set(\"last_relay1\",{\"countR1\":-1});\nglobal.set(\"last_relay2\",{\"countR2\":-1});\nglobal.set(\"last_relay3\",{\"countR3\":-1});\nglobal.set(\"last_relay9\",{\"countR9\":-1});\nglobal.set(\"check_0\",{\"cpt124\":0});\nif(global.get(\"check_0\")===0){\n    global.set(\"cpt_lost_Home\",0);\n    global.set(\"cpt_lost_sheep\",0);\n    global.set(\"cpt_lost_terrain\",0);\n    global.set(\"cpt_lost_UCA\",0);\n}\nglobal.set(\"cpt124\",1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 320,
        "wires": [
            [
                "5c47dd7.eb2e624"
            ]
        ]
    },
    {
        "id": "7586c56d.0b0bcc",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Data9",
        "func": "var data = JSON.parse(msg.payload);\nvar msg1= { \"payload\": data.packet_number};\nvar msg2= { \"payload\": data.ID_Relay};\n\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 690,
        "y": 1660,
        "wires": [
            [
                "d34d55de.2ca148",
                "e86a2c2a.66c1e",
                "54c1e3ac.5ce00c",
                "4d64944.595c26c"
            ],
            [
                "7cc9f6fa.56f0e8",
                "501fa3fc.aa63bc"
            ]
        ]
    },
    {
        "id": "e86a2c2a.66c1e",
        "type": "ui_chart",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "4442ac30.6fb2f4",
        "order": 1,
        "width": "6",
        "height": "7",
        "label": "Packet-number",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1060,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "69735fe9.d67d6",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "4442ac30.6fb2f4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet_number précédent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1400,
        "y": 1600,
        "wires": []
    },
    {
        "id": "54c1e3ac.5ce00c",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Modif_Variable_Globale",
        "func": "\nvar msg1= msg.payload;\nmsg.payload=global.get(\"count9\");\nif(msg1-global.get(\"count9\")-1>=0){\n    var msg2={\"payload\":msg1-global.get(\"count9\")-1};\n    global.set(\"cpt_lost_UCA\",msg1-global.get(\"count9\")-1+global.get(\"cpt_lost_UCA\"));\n}else{\n    msg2={\"payload\" :0};\n    //global.set(\"cpt_lost_UCA\",0);\n}\nglobal.set(\"count9\",msg1);\nvar msg3={\"payload\":global.get(\"cpt_lost_UCA\")};\nreturn [msg,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 1090,
        "y": 1640,
        "wires": [
            [
                "69735fe9.d67d6"
            ],
            [],
            [
                "48efe19a.080a1",
                "866272c5.3f1fd",
                "c2ee8085.a2804"
            ]
        ]
    },
    {
        "id": "d34d55de.2ca148",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "4442ac30.6fb2f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet_number actuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 1700,
        "wires": []
    },
    {
        "id": "2c67a2e6.ae61ee",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "c3065597.991778",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Source précédent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1330,
        "y": 940,
        "wires": []
    },
    {
        "id": "339c6543.77a27a",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "2a9de522.10517a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Source précédent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1330,
        "y": 1440,
        "wires": []
    },
    {
        "id": "69523162.783b3",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "d60f177e.b7db98",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Maison",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 1140,
        "wires": []
    },
    {
        "id": "bdc6c1ef.3b123",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "d60f177e.b7db98",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Gateway",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 640,
        "wires": []
    },
    {
        "id": "866272c5.3f1fd",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "d60f177e.b7db98",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UCA_trackeur",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360,
        "y": 1680,
        "wires": []
    },
    {
        "id": "d844811e.4ac18",
        "type": "ui_button",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "d60f177e.b7db98",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET Maison",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 1360,
        "y": 1220,
        "wires": [
            [
                "eb492023.6910b"
            ]
        ]
    },
    {
        "id": "7e8ba055.38a81",
        "type": "ui_button",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "d60f177e.b7db98",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET Gateway",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 1370,
        "y": 720,
        "wires": [
            [
                "89c933c4.bf64"
            ]
        ]
    },
    {
        "id": "5b652617.0b8a58",
        "type": "ui_button",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "d60f177e.b7db98",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET UCA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 1350,
        "y": 1760,
        "wires": [
            [
                "fd66e703.51a5f8"
            ]
        ]
    },
    {
        "id": "78788490.71c18c",
        "type": "debug",
        "z": "b10438e6.bafb38",
        "name": "Gateway",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1340,
        "y": 760,
        "wires": []
    },
    {
        "id": "48efe19a.080a1",
        "type": "debug",
        "z": "b10438e6.bafb38",
        "name": "UCA",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1330,
        "y": 1800,
        "wires": []
    },
    {
        "id": "3bebbf20.a8182",
        "type": "debug",
        "z": "b10438e6.bafb38",
        "name": "HOME",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1330,
        "y": 1260,
        "wires": []
    },
    {
        "id": "eb492023.6910b",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Reset",
        "func": "global.set(\"cpt_lost_Home\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1330,
        "y": 1180,
        "wires": [
            [
                "69523162.783b3",
                "698cef25.c179"
            ]
        ]
    },
    {
        "id": "89c933c4.bf64",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Reset",
        "func": "global.set(\"cpt_lost_sheep\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1330,
        "y": 680,
        "wires": [
            [
                "bdc6c1ef.3b123",
                "d21c612a.9e566"
            ]
        ]
    },
    {
        "id": "fd66e703.51a5f8",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Reset",
        "func": "global.set(\"cpt_lost_UCA\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1330,
        "y": 1720,
        "wires": [
            [
                "866272c5.3f1fd",
                "c2ee8085.a2804"
            ]
        ]
    },
    {
        "id": "97e32476.11cf88",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "bd57e474.b5b808",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordonnées X",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 820,
        "wires": []
    },
    {
        "id": "359c178f.3daaa8",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "bd57e474.b5b808",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordonnées Y",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 860,
        "wires": []
    },
    {
        "id": "60091783.843ff8",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "bd57e474.b5b808",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordonnées Z",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 900,
        "wires": []
    },
    {
        "id": "5d0aeef2.9e5d6",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "79069a20.8598c4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordonnées X",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 1320,
        "wires": []
    },
    {
        "id": "bcb27461.dfb648",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "79069a20.8598c4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordonnées Y",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 1360,
        "wires": []
    },
    {
        "id": "d62fbc6f.587c5",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "79069a20.8598c4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordonnées Z",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 1400,
        "wires": []
    },
    {
        "id": "6f0f3ea8.d760a",
        "type": "ui_gauge",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "7b895a34.f26a64",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Batterie",
        "label": "V",
        "format": "{{value}}",
        "min": "2.7",
        "max": "4.2",
        "colors": [
            "#b32400",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1040,
        "y": 220,
        "wires": []
    },
    {
        "id": "8f02dcb3.9c8b1",
        "type": "debug",
        "z": "b10438e6.bafb38",
        "name": "Trackeur1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 840,
        "y": 60,
        "wires": []
    },
    {
        "id": "7c75b739.73d448",
        "type": "ui_chart",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "4da36b2b.146a24",
        "order": 1,
        "width": "6",
        "height": "7",
        "label": "Packet-number",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1060,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8225cce3.2397c",
        "type": "ui_gauge",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "7b895a34.f26a64",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Puissance en réception",
        "label": "dbm",
        "format": "{{value}}",
        "min": "-120",
        "max": "-30",
        "colors": [
            "#b30000",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1090,
        "y": 260,
        "wires": []
    },
    {
        "id": "e777b232.67f61",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "4da36b2b.146a24",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet_number précédent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1400,
        "y": 80,
        "wires": []
    },
    {
        "id": "72e0422f.f13c8c",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Modif_Variable_Globale",
        "func": "\nvar msg1= msg.payload;\nmsg.payload=global.get(\"count1\");\nif(msg1-global.get(\"count1\")-1>0){\n    var msg2 = {\"payload\" :msg1-global.get(\"count1\")-1};\n    global.set(\"cpt_lost_terrain\",msg1-global.get(\"count1\")-1+global.get(\"cpt_lost_terrain\"));\n    \n}else{\n    msg2 = {\"payload\" :0};\n}\nglobal.set(\"count1\",msg1);\n//var cpt = {\"payload\" :global.get(\"countS\")};\n\n//global.set(\"countS\",cpt1+cpt);\n//var msg3= {\"payload\": 1};\nvar msg3= {\"payload\": global.get(\"cpt_lost_terrain\")};\nreturn [msg,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 1070,
        "y": 80,
        "wires": [
            [
                "e777b232.67f61"
            ],
            [],
            [
                "37191e5a.f931a2",
                "c205f3ef.1809",
                "586b55b.9c926ac"
            ]
        ]
    },
    {
        "id": "dc743893.ea9078",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "4da36b2b.146a24",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet_number actuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "e91cd68f.28d9b8",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "4da36b2b.146a24",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Source précédent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1330,
        "y": 420,
        "wires": []
    },
    {
        "id": "c205f3ef.1809",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "d60f177e.b7db98",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Terrain",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1330,
        "y": 160,
        "wires": []
    },
    {
        "id": "d804c5e6.63e5a8",
        "type": "ui_button",
        "z": "b10438e6.bafb38",
        "name": "",
        "group": "d60f177e.b7db98",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET Terrain",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 1360,
        "y": 240,
        "wires": [
            [
                "d99e506d.2e5a5"
            ]
        ]
    },
    {
        "id": "37191e5a.f931a2",
        "type": "debug",
        "z": "b10438e6.bafb38",
        "name": "TERRAIN",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1380,
        "y": 120,
        "wires": []
    },
    {
        "id": "d99e506d.2e5a5",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Reset",
        "func": "global.set(\"cpt_lost_terrain\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1330,
        "y": 200,
        "wires": [
            [
                "c205f3ef.1809",
                "586b55b.9c926ac"
            ]
        ]
    },
    {
        "id": "1bf07094.b2f5bf",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "7b895a34.f26a64",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordonnées X",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 300,
        "wires": []
    },
    {
        "id": "93d8a407.aff418",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "7b895a34.f26a64",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordonnées Y",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "a0927851.d53f68",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "7b895a34.f26a64",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordonnées Z",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 380,
        "wires": []
    },
    {
        "id": "7d2d729d.52410c",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Data11",
        "func": "var data = JSON.parse(msg.payload);\nvar msg1= { \"payload\": data.packet_number};\nvar msg2= { \"payload\": data.battery_voltage};\nvar msg3= { \"payload\": data.RSSI};\nvar msg4= { \"payload\": data.accelerometer.x};\nvar msg5= { \"payload\": data.accelerometer.y};\nvar msg6= { \"payload\": data.accelerometer.z};\nvar msg7= { \"payload\": data.ID_Relay};\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7];",
        "outputs": 7,
        "noerr": 0,
        "x": 700,
        "y": 240,
        "wires": [
            [
                "72e0422f.f13c8c",
                "7c75b739.73d448",
                "8f02dcb3.9c8b1",
                "dc743893.ea9078",
                "dd58a654.51c588"
            ],
            [
                "6f0f3ea8.d760a"
            ],
            [
                "8225cce3.2397c"
            ],
            [
                "1bf07094.b2f5bf"
            ],
            [
                "93d8a407.aff418"
            ],
            [
                "a0927851.d53f68"
            ],
            [
                "722b0555.27f3dc",
                "27be5953.5ea186"
            ]
        ]
    },
    {
        "id": "9e62fed9.633b1",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "4da36b2b.146a24",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Source actuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1220,
        "y": 500,
        "wires": []
    },
    {
        "id": "fc902c10.8a7e1",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "2a9de522.10517a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Source actuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1240,
        "y": 1520,
        "wires": []
    },
    {
        "id": "a872aa70.5b6228",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "c3065597.991778",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Source actuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1220,
        "y": 1020,
        "wires": []
    },
    {
        "id": "6729c07b.380b1",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Modif_Variable_Globale",
        "func": "\nvar msg1= msg.payload;\nmsg.payload=global.get(\"countR3\");\n// Set the future packet\nglobal.set(\"countR3\",msg1);\nif (msg.payload===0){\n    msg.payload=\"tracker\";\n}else if (msg.payload==1){\n    msg.payload=\"Relay 1\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 1440,
        "wires": [
            [
                "339c6543.77a27a"
            ]
        ]
    },
    {
        "id": "722b0555.27f3dc",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Modif_Variable_Globale",
        "func": "\nvar msg1= msg.payload;\nmsg.payload=global.get(\"countR1\");\n// Set the future packet\nglobal.set(\"countR1\",msg1);\n\nif (msg.payload===0){\n    msg.payload=\"tracker\";\n}else if (msg.payload==1){\n    msg.payload=\"Relay 1\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 420,
        "wires": [
            [
                "e91cd68f.28d9b8"
            ]
        ]
    },
    {
        "id": "580b10bb.6ce8",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Modif_Variable_Globale",
        "func": "\nvar msg1= msg.payload;\nmsg.payload=global.get(\"countR2\");\n// Set the future packet\nglobal.set(\"countR2\",msg1);\nif (msg.payload===0){\n    msg.payload=\"tracker\";\n}else if (msg.payload==1){\n    msg.payload=\"Relay 1\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 940,
        "wires": [
            [
                "2c67a2e6.ae61ee"
            ]
        ]
    },
    {
        "id": "cb88093b.fa9b28",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "CHeck",
        "func": "if (msg.payload===0){\n    msg.payload=\"tracker\";\n}else if (msg.payload===16){\n    msg.payload=\"Relay 2\";\n}else if (msg.payload===17){\n    msg.payload=\"Relay 1 + 2\";\n}else{\n    msg.payload=\"Inconnu\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 980,
        "wires": [
            [
                "a872aa70.5b6228",
                "e72da6f.3cb1258"
            ]
        ]
    },
    {
        "id": "6115cbdf.240524",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "CHeck",
        "func": "if (msg.payload===0){\n    msg.payload=\"tracker\";\n}else if (msg.payload===16){\n    msg.payload=\"Relay 2\";\n}else if (msg.payload===17){\n    msg.payload=\"Relay 1 + 2\";\n}else{\n    msg.payload=\"Inconnu\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 1480,
        "wires": [
            [
                "fc902c10.8a7e1",
                "d6b49b01.8db998"
            ]
        ]
    },
    {
        "id": "97974c0d.67c1d",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "4442ac30.6fb2f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Source actuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1220,
        "y": 1920,
        "wires": []
    },
    {
        "id": "7cc9f6fa.56f0e8",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "CHeck",
        "func": "if (msg.payload===0){\n    msg.payload=\"tracker\";\n}else if (msg.payload===16){\n    msg.payload=\"Relay 2\";\n}else if (msg.payload===17){\n    msg.payload=\"Relay 1 + 2\";\n}else{\n    msg.payload=\"Inconnu\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 1880,
        "wires": [
            [
                "97974c0d.67c1d",
                "67b9a5ea.6891cc"
            ]
        ]
    },
    {
        "id": "501fa3fc.aa63bc",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "Modif_Variable_Globale",
        "func": "\nvar msg1= msg.payload;\nmsg.payload=global.get(\"countR3\");\n// Set the future packet\nglobal.set(\"countR3\",msg1);\nif (msg.payload===0){\n    msg.payload=\"tracker\";\n}else if (msg.payload==1){\n    msg.payload=\"Relay 1\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 1840,
        "wires": [
            [
                "8bc07216.5de5b"
            ]
        ]
    },
    {
        "id": "8bc07216.5de5b",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "4442ac30.6fb2f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Source précédent",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1330,
        "y": 1840,
        "wires": []
    },
    {
        "id": "27be5953.5ea186",
        "type": "function",
        "z": "b10438e6.bafb38",
        "name": "CHeck",
        "func": "if (msg.payload===0){\n    msg.payload=\"tracker\";\n}else if (msg.payload==16){\n    msg.payload=\"Relay 2\";\n}else if (msg.payload==17){\n    msg.payload=\"Relay 1 + 2\";\n}else{\n    msg.payload=\"Inconnu\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "9e62fed9.633b1",
                "be416b8e.7bbb38"
            ]
        ]
    },
    {
        "id": "be416b8e.7bbb38",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "592d618e.960588",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reçu de",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1200,
        "y": 460,
        "wires": []
    },
    {
        "id": "dd58a654.51c588",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "592d618e.960588",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet_number actuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 300,
        "wires": []
    },
    {
        "id": "58d68de3.70f574",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "8a0d8a0e.218f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet_number actuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 820,
        "wires": []
    },
    {
        "id": "e72da6f.3cb1258",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "8a0d8a0e.218f4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reçu de",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1200,
        "y": 980,
        "wires": []
    },
    {
        "id": "a61ecc60.d6996",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "41f79675.0edb2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet_number actuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 1320,
        "wires": []
    },
    {
        "id": "d6b49b01.8db998",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "41f79675.0edb2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reçu de",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1220,
        "y": 1480,
        "wires": []
    },
    {
        "id": "4d64944.595c26c",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "5faa3ea2.2abf2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packet_number actuel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 1780,
        "wires": []
    },
    {
        "id": "67b9a5ea.6891cc",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "5faa3ea2.2abf2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reçu de",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1200,
        "y": 1880,
        "wires": []
    },
    {
        "id": "586b55b.9c926ac",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "592d618e.960588",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packets perdus",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1520,
        "y": 160,
        "wires": []
    },
    {
        "id": "d21c612a.9e566",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "8a0d8a0e.218f4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packets perdus",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1540,
        "y": 640,
        "wires": []
    },
    {
        "id": "698cef25.c179",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "41f79675.0edb2",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packets perdus",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1520,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c2ee8085.a2804",
        "type": "ui_text",
        "z": "b10438e6.bafb38",
        "group": "5faa3ea2.2abf2",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Packets perdus",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1560,
        "y": 1680,
        "wires": []
    },
    {
        "id": "bd57e474.b5b808",
        "type": "ui_group",
        "z": "",
        "name": "Data_Gateway",
        "tab": "2013ba9e.797616",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b5ffbb73.a2c408",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "www.maqiatto.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c3065597.991778",
        "type": "ui_group",
        "z": "",
        "name": "Packet_number_Gateway",
        "tab": "ceafc956.2f2bb8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "79069a20.8598c4",
        "type": "ui_group",
        "z": "",
        "name": "Data_maison",
        "tab": "2013ba9e.797616",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2a9de522.10517a",
        "type": "ui_group",
        "z": "",
        "name": "Packet_number_maison",
        "tab": "ceafc956.2f2bb8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4442ac30.6fb2f4",
        "type": "ui_group",
        "z": "",
        "name": "Packet_number_UCA_trackeur",
        "tab": "ceafc956.2f2bb8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d60f177e.b7db98",
        "type": "ui_group",
        "z": "",
        "name": "Total packet_number_lost",
        "tab": "ceafc956.2f2bb8",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7b895a34.f26a64",
        "type": "ui_group",
        "z": "",
        "name": "Data_terrain",
        "tab": "2013ba9e.797616",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4da36b2b.146a24",
        "type": "ui_group",
        "z": "",
        "name": "Packet_number_terrain",
        "tab": "ceafc956.2f2bb8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "592d618e.960588",
        "type": "ui_group",
        "z": "",
        "name": "Tracker Terrain (n°11)",
        "tab": "729ad69c.580de",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8a0d8a0e.218f4",
        "type": "ui_group",
        "z": "",
        "name": "Tracker Gateway (n°22)",
        "tab": "729ad69c.580de",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "41f79675.0edb2",
        "type": "ui_group",
        "z": "",
        "name": "Tracker maison (n°33)",
        "tab": "729ad69c.580de",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5faa3ea2.2abf2",
        "type": "ui_group",
        "z": "",
        "name": "Tracker UCA (n°9)",
        "tab": "729ad69c.580de",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2013ba9e.797616",
        "type": "ui_tab",
        "z": "",
        "name": "Mouton_Data",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ceafc956.2f2bb8",
        "type": "ui_tab",
        "z": "",
        "name": "Packet_number",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "729ad69c.580de",
        "type": "ui_tab",
        "z": 0,
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]