Node-RED/Distance.json
[
    {
        "id": "4a260dad.a41244",
        "type": "tab",
        "label": "Distance",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ce1b6b95.6ff598",
        "type": "function",
        "z": "4a260dad.a41244",
        "name": "Calcul_distance",
        "func": "function distance(lat1, lon1, lat2, lon2) {\n\tif ((lat1 == lat2) && (lon1 == lon2)) {\n\t\treturn 0;\n\t}\n\telse {\n\t\tvar radlat1 = Math.PI * lat1/180;\n\t\tvar radlat2 = Math.PI * lat2/180;\n\t\tvar theta = lon1-lon2;\n\t\tvar radtheta = Math.PI * theta/180;\n\t\tvar dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);\n\t\tif (dist > 1) {\n\t\t\tdist = 1;\n\t\t}\n\t\tdist = Math.acos(dist);\n\t\t//dist = dist * 180/Math.PI;\n\t\tdist = dist * 6371; // resultat en km\n\t\t\n\t\treturn dist;\n\t}\n}\n\nvar position = global.get(\"position\");\n\nif ( global.get(\"latitude2\")!==0 && global.get(\"latitude3\")!==0){\n    //msg.payload=Math.round(distance(global.get(\"latitude2\"),global.get(\"longitude2\"), global.get(\"latitude3\"), global.get(\"longitude3\"), 'K')*1000); //  en mètres\n    msg.payload = Math.round(distance(position[2].lat, position[2].lng, position[3].lat, position[3].lng)*1000); // en mètres\n    //msg.payload=1;\n}else{\n    msg.payload=-1;\n}\nif ( global.get(\"latitude1\")!==0 && global.get(\"latitude2\")!==0){\n    //var msg7={\"payload\":Math.round(distance(global.get(\"latitude1\"),global.get(\"longitude1\"), global.get(\"latitude2\"), global.get(\"longitude2\"), 'K')*1000)}; //  en mètres\n    var msg7 = {\"payload\": Math.round(distance(position[1].lat, position[1].lng, position[2].lat, position[2].lng)*1000)}; // en mètres\n}else{\n    msg7={\"payload\":-1};\n}\nvar msg1={\"payload\": position[1].lat};\nvar msg2={\"payload\": position[1].lng};\nvar msg3={\"payload\": position[2].lat};\nvar msg4={\"payload\": position[2].lng};\nvar msg5={\"payload\": position[3].lat};\nvar msg6={\"payload\": position[3].lng};\nreturn [msg,msg1,msg2,msg3,msg4,msg5,msg6,msg7];",
        "outputs": 8,
        "noerr": 0,
        "x": 680,
        "y": 460,
        "wires": [
            [
                "b7ef39ac.164b48",
                "17835ad1.bbc915"
            ],
            [
                "97874d7d.e3693"
            ],
            [
                "55782264.70f8fc"
            ],
            [
                "b984d2bd.0f778"
            ],
            [
                "38412395.10dd2c"
            ],
            [
                "2db0b208.fa708e"
            ],
            [
                "f2fbd6c3.846ed8"
            ],
            [
                "690c4e2d.ea36a"
            ]
        ]
    },
    {
        "id": "9e3a6ce8.cbeff",
        "type": "mqtt in",
        "z": "4a260dad.a41244",
        "name": "",
        "topic": "jeremie.pietri@laposte.net/sheep_data",
        "qos": "2",
        "datatype": "auto",
        "broker": "f07646ea.0ac518",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "10fe4af6.eaa3a5",
                "1856e6dc.453a19"
            ]
        ]
    },
    {
        "id": "7d2de4c3.48be9c",
        "type": "function",
        "z": "4a260dad.a41244",
        "name": "Variable Globale",
        "func": "// Définition d’une variable globale\nglobal.set(\"check_0\",{\"cpt\":0});\n// node.warn(global.get(\"check_0\"));\n\nvar position = global.get(\"position\") || [];\nposition[1] = {\"lat\":43.7,\"lng\":7.4,\"taille\":10,\"histor\":[]};\nposition[2] = {\"lat\":43.8,\"lng\":7.4,\"taille\":10,\"histor\":[]};\nposition[3] = {\"lat\":43.9,\"lng\":7.4,\"taille\":10,\"histor\":[]};\nglobal.set(\"position\",position);\n\nif(global.get(\"check_0\")===0){\n    node.debug(\"I am in the if statement\");\n    global.set(\"latitude1\",0);\n    global.set(\"longitude1\",0);\n    global.set(\"latitude2\",0);\n    global.set(\"longitude2\",0);\n    global.set(\"latitude3\",0);\n    global.set(\"longitude3\",0);\n    global.set(\"taille_max\",12);\n    global.set(\"tab_historique1\", []);\n    global.set(\"tab_historique2\", []);\n    global.set(\"tab_historique3\", []);\n}\n\n//global.set(\"exmp\") || {\"data\":{\"lat1\":43.12,\"lat2\":43.123}};\nvar msg1 = {\"payload\":global.get(\"check_0\")};\nglobal.set(\"check_0\",1);\nreturn [msg,msg1];",
        "outputs": 2,
        "noerr": 0,
        "x": 160,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "24b3dc41.c3a014",
        "type": "function",
        "z": "4a260dad.a41244",
        "name": "Set_Coordonnées2",
        "func": "var data = JSON.parse(msg.payload);\n// var msg2={\"payload\": data.source};\n\nvar tab_hist = global.get(\"tab_historique2\")||[];\nvar taille = tab_hist.length;\nvar taille_max = global.get(\"taille_max\");\nvar lat = data.latitude;\nvar lon = data.longitude;\nif(taille >= taille_max) {\n    tab_hist.length = taille_max;\n    tab_hist.shift();\n    tab_hist.shift(); // supprime 2 éléments du début\n}\ntab_hist.push(lat, lon); // ajoute 2 éléments au final\nglobal.set(\"tab_historique2\", tab_hist);\nmsg.payload = tab_hist;\n\nglobal.set(\"latitude2\", lat);\nglobal.set(\"longitude2\", lon);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "14e8a104.7934ef",
        "type": "function",
        "z": "4a260dad.a41244",
        "name": "Set_Coordonnées",
        "func": "var data = JSON.parse(msg.payload);\nvar id = data.source;\nid = parseInt(id/10);\n// var msg2={\"payload\": data.source};\n\nvar position = global.get(\"position\") || [];\n// position[1] = {\"latitude\":43.7,\"longitude\":7.4,\"taille\":10,\"histor\":[]};\n// positoin[2] = {\"latitude\":43.8,\"longitude\":7.4,\"taille\":10,\"histor\":[]};\n// positoin[3] = {\"latitude\":43.9,\"longitude\":7.4,\"taille\":10,\"histor\":[]};\n\nif(typeof position[id]==\"undefined\") {\n    position[id] = {\"latitude\":43.7,\"longitude\":7.4,\"taille\":10,\"histor\":[]};\n}\n\n// var tab_hist = global.get(\"tab_historique1\")||[];\n\nvar tab_hist = position[id].histor;\nif(typeof tab_hist==\"undefined\") {\n    tab_hist = [];\n    node.error(\"dans if undefined\");\n}\nvar taille = tab_hist.length;\nvar taille_max = global.get(\"taille_max\");\nvar lat = data.latitude;\nvar lon = data.longitude;\nif(taille >= taille_max) {\n    // tab_hist.length = taille_max;\n    // tab_hist.shift();\n    tab_hist.shift(); // supprime 2 éléments du début\n}\nvar pos = {\"lat\":lat,\"lng\":lon};\ntab_hist.push(pos); // ajoute 2 éléments au final\nposition[id].lat = lat;\nposition[id].lng = lon;\nposition[id].histor = tab_hist;\n// global.set(\"position\", tab_hist);\n// msg.payload = tab_hist;\nmsg.payload = [lat, lon];\n\nnode.error(\"id \"+id+\" lat \"+lat+\" lon \"+lon+\" max \"+taille_max+\" taille \"+taille);\nnode.error(JSON.stringify(position));\n\n// global.set(\"latitude1\", lat);\n// global.set(\"longitude1\", lon);\nglobal.set(\"position\",position);\n\nvar msg1 = {\"payload\":tab_hist};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "noerr": 0,
        "x": 170,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b7ef39ac.164b48",
        "type": "debug",
        "z": "4a260dad.a41244",
        "name": "DISTANCE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "97874d7d.e3693",
        "type": "ui_text",
        "z": "4a260dad.a41244",
        "group": "79b4d4c5.c437bc",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Latitude T",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 360,
        "wires": []
    },
    {
        "id": "b984d2bd.0f778",
        "type": "ui_text",
        "z": "4a260dad.a41244",
        "group": "e8a00aa3.a82a88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Latitude G",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 440,
        "wires": []
    },
    {
        "id": "87069892.110fb8",
        "type": "ui_text",
        "z": "4a260dad.a41244",
        "group": "491e758a.07758c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Maison-Gateway(en m)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1370,
        "y": 320,
        "wires": []
    },
    {
        "id": "55782264.70f8fc",
        "type": "ui_text",
        "z": "4a260dad.a41244",
        "group": "79b4d4c5.c437bc",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Longitude T",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 400,
        "wires": []
    },
    {
        "id": "38412395.10dd2c",
        "type": "ui_text",
        "z": "4a260dad.a41244",
        "group": "e8a00aa3.a82a88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Longitude G",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 480,
        "wires": []
    },
    {
        "id": "275f1559.fe485a",
        "type": "ui_text",
        "z": "4a260dad.a41244",
        "group": "491e758a.07758c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Terrain-Gateway(en m)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1360,
        "y": 600,
        "wires": []
    },
    {
        "id": "2db0b208.fa708e",
        "type": "ui_text",
        "z": "4a260dad.a41244",
        "group": "af307f70.1d4e6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Latitude M",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 520,
        "wires": []
    },
    {
        "id": "f2fbd6c3.846ed8",
        "type": "ui_text",
        "z": "4a260dad.a41244",
        "group": "af307f70.1d4e6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Longitude M",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 560,
        "wires": []
    },
    {
        "id": "6176752f.ea35ec",
        "type": "ui_text",
        "z": "4a260dad.a41244",
        "group": "9fdb60f0.57fc9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance Maison-Gateway(en m)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1400,
        "y": 280,
        "wires": []
    },
    {
        "id": "682384d9.177fbc",
        "type": "ui_text",
        "z": "4a260dad.a41244",
        "group": "9fdb60f0.57fc9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance Terrain-Gateway(en m)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1390,
        "y": 640,
        "wires": []
    },
    {
        "id": "690c4e2d.ea36a",
        "type": "function",
        "z": "4a260dad.a41244",
        "name": "Test_valeur_correcte",
        "func": "if (msg.payload>40000){\n    msg.payload = \"Incorrect\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 600,
        "wires": [
            [
                "682384d9.177fbc",
                "275f1559.fe485a"
            ]
        ]
    },
    {
        "id": "17835ad1.bbc915",
        "type": "function",
        "z": "4a260dad.a41244",
        "name": "Test_valeur_correcte",
        "func": "if (msg.payload>40000){\n    msg.payload = \"Incorrect\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 320,
        "wires": [
            [
                "6176752f.ea35ec",
                "87069892.110fb8"
            ]
        ]
    },
    {
        "id": "bcb7a054.7e292",
        "type": "debug",
        "z": "4a260dad.a41244",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 580,
        "wires": []
    },
    {
        "id": "10fe4af6.eaa3a5",
        "type": "debug",
        "z": "4a260dad.a41244",
        "name": "mqtt",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "a1ea3448.b62668",
        "type": "link out",
        "z": "4a260dad.a41244",
        "name": "mise a jour",
        "links": [
            "7a56b0aa.3c4d4"
        ],
        "x": 615,
        "y": 360,
        "wires": []
    },
    {
        "id": "1856e6dc.453a19",
        "type": "function",
        "z": "4a260dad.a41244",
        "name": "Variable Globale",
        "func": "var position = global.get(\"position\");\nif (typeof position === \"undefined\") {\n    position = [];\n    position[0] = {\"lat\":0,\"lng\":0,\"taille\":10,\"histor\":[]};\n    position[1] = {\"lat\":0,\"lng\":0,\"taille\":10,\"histor\":[]};\n    position[2] = {\"lat\":0,\"lng\":0,\"taille\":10,\"histor\":[]};\n    position[3] = {\"lat\":0,\"lng\":0,\"taille\":10,\"histor\":[]};\n    // position[4] = {\"lat\":0,\"lng\":0,\"taille\":10,\"histor\":[]};\n    global.set(\"position\",position);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "8a6a80b5.72aca"
            ]
        ]
    },
    {
        "id": "8a6a80b5.72aca",
        "type": "function",
        "z": "4a260dad.a41244",
        "name": "Set_Coordonnées",
        "func": "var data = JSON.parse(msg.payload);\nvar id = data.source;\nid = parseInt(id/10);\n\nvar position = global.get(\"position\");\n\nif(typeof position[id]==\"undefined\") {\n    position[id] = {\"latitude\":0,\"longitude\":0,\"taille\":10,\"histor\":[]};\n}\n\nvar tab_hist = position[id].histor;\nif(typeof tab_hist==\"undefined\") {\n    tab_hist = [];\n    node.error(\"dans if undefined\");\n}\n\nvar taille = tab_hist.length;\nvar taille_max = global.get(\"taille_max\")|| 12;\nvar lat = data.latitude;\nvar lng = data.longitude;\nif(taille >= taille_max) {\n    tab_hist.shift(); // supprime l'élément du début\n}\nvar pos = {\"lat\":lat,\"lng\":lng};\ntab_hist.push(pos); // ajoute l'élément au final\nposition[id].lat = lat;\nposition[id].lng = lng;\nposition[id].histor = tab_hist;\nmsg.payload = [lat, lng];\nvar msg1 = {\"payload\":tab_hist};\n\nnode.error(\"id \"+id+\" lat \"+lat+\" lng \"+lng+\" max \"+taille_max+\" taille \"+taille);\nnode.error(JSON.parse(JSON.stringify(position)));\n\nglobal.set(\"position\",position);\n\nreturn [msg,msg1];",
        "outputs": 2,
        "noerr": 0,
        "x": 410,
        "y": 460,
        "wires": [
            [
                "ce1b6b95.6ff598",
                "a1ea3448.b62668"
            ],
            [
                "bcb7a054.7e292"
            ]
        ]
    },
    {
        "id": "f07646ea.0ac518",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "www.maqiatto.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "79b4d4c5.c437bc",
        "type": "ui_group",
        "z": "",
        "name": "Coordonnées_terrain",
        "tab": "4a9de958.1e3f68",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e8a00aa3.a82a88",
        "type": "ui_group",
        "z": "",
        "name": "Coordonnées_Gateway",
        "tab": "4a9de958.1e3f68",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "491e758a.07758c",
        "type": "ui_group",
        "z": "",
        "name": "Distance",
        "tab": "4a9de958.1e3f68",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "af307f70.1d4e6",
        "type": "ui_group",
        "z": "",
        "name": "Coordonnées_maison",
        "tab": "4a9de958.1e3f68",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9fdb60f0.57fc9",
        "type": "ui_group",
        "z": "",
        "name": "Raspberry",
        "tab": "729ad69c.580de",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4a9de958.1e3f68",
        "type": "ui_tab",
        "z": "",
        "name": "Coordonnées GPS",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "729ad69c.580de",
        "type": "ui_tab",
        "z": 0,
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]