Node-RED/Home.json
[
    {
        "id": "c010e279.b0f748",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": ""
    },
    {
        "id": "72f2db53.bd0154",
        "type": "http in",
        "z": "c010e279.b0f748",
        "name": "",
        "url": "/mouton",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "733e2355.7641fc"
            ]
        ]
    },
    {
        "id": "47d41d53.50b19c",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "592d618e.960588",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "tracker 11",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "1986c42f.67711c",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "8a0d8a0e.218f4",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "tracker  22",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 80,
        "wires": []
    },
    {
        "id": "7482eb87.e9cf74",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "41f79675.0edb2",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "tracker  33",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1000,
        "y": 80,
        "wires": []
    },
    {
        "id": "542317df.0c5ae8",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "5faa3ea2.2abf2",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "tracker  9",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1180,
        "y": 80,
        "wires": []
    },
    {
        "id": "733e2355.7641fc",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "",
        "func": "var info = global.get(\"info\") || [{\"error\":0,\"seq\":0},{\"error\":0,\"seq\":0},{\"error\":0,\"seq\":0},{\"error\":0,\"seq\":0}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c5f5886c.53fa58",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "9fdb60f0.57fc9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Gateway",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 80,
        "wires": []
    },
    {
        "id": "1d7f9000.9273f",
        "type": "inject",
        "z": "c010e279.b0f748",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1410,
        "y": 340,
        "wires": [
            [
                "e499f992.ecf418",
                "ba6439de.8195d8",
                "2878a6cd.527e6a",
                "d24ec1bd.60d27",
                "2bd41349.c8ee6c"
            ]
        ]
    },
    {
        "id": "e499f992.ecf418",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Calcul du temps Internet",
        "func": "var data = global.get(\"tempsInternet\")|| {\"Internet\":0};\nvar t  =msg.payload;\nmsg.payload=(t - data.Internet)/1000;\nif(msg.payload > 1800) {\n    msg.payload = 1800;\n}\nglobal.set(\"tempsInternet\",data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1690,
        "y": 280,
        "wires": [
            [
                "2053c613.f22a4a",
                "6ebad8d9.d180f8"
            ]
        ]
    },
    {
        "id": "2053c613.f22a4a",
        "type": "debug",
        "z": "c010e279.b0f748",
        "name": "Time_Internet",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1940,
        "y": 240,
        "wires": []
    },
    {
        "id": "6ebad8d9.d180f8",
        "type": "ui_gauge",
        "z": "c010e279.b0f748",
        "name": "Time",
        "group": "9fdb60f0.57fc9",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Last talk to Internet",
        "label": "s",
        "format": "{{value}}",
        "min": 0,
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "x": 1910,
        "y": 320,
        "wires": []
    },
    {
        "id": "8966c96b.42ca28",
        "type": "switch",
        "z": "c010e279.b0f748",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Connected",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "{\"source\":9",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "\"source\":11",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "\"source\":22",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "\"source\":33",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "cf47b257.cfe47"
            ],
            [
                "c1bfd49e.9c2e88"
            ],
            [
                "1e4db244.3602be"
            ],
            [
                "f4e2ec95.43e1a"
            ],
            [
                "5634b452.d08d7c"
            ]
        ]
    },
    {
        "id": "cf47b257.cfe47",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "receptionInternet",
        "func": "var data = global.get(\"tempsInternet\")|| {\"Internet\":0};\nvar d = new Date();\nvar t = d.getTime();\nvar trackeur= \"Internet\";\ndata.Internet= t;\nglobal.set(\"tempsInternet\",data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9f3027b2.83cf28",
        "type": "mqtt in",
        "z": "c010e279.b0f748",
        "name": "",
        "topic": "jeremie.pietri@laposte.net/sheep_data",
        "qos": "2",
        "datatype": "auto",
        "broker": "f07646ea.0ac518",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "e8f241cc.0427a"
            ]
        ]
    },
    {
        "id": "c1bfd49e.9c2e88",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "receptionSource9",
        "func": "var data = global.get(\"temps\")|| {\"trackeur11\":0, \"trackeur22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar d = new Date();\nvar t = d.getTime();\n//var trackeur= \"trackeur9\";\ndata.trackeur9= t;\nglobal.set(\"temps\",data);\nmsg.payload = t;\n\nvar msg1= {\"payload\" :global.get(\"T9\")};\n\nreturn [msg,msg1];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "b8f57653.d39a88"
            ],
            [
                "2fe65538.4dd6ca",
                "c5acdbf9.a7f2e8"
            ]
        ]
    },
    {
        "id": "ba6439de.8195d8",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Calcul du temps trackeur 9",
        "func": "var data = global.get(\"temps\")|| {\"trackeur11\":0, \"tracker22\":0,\"trackeur33\":0,\"trackeur9\":0};\n\nvar t  =msg.payload;\nmsg.payload=(t - data.trackeur9)/1000;\nif(msg.payload > 1800) {\n    msg.payload = 1800;\n}\nglobal.set(\"T9\",msg.payload);\n//global.set(\"temps\",data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1720,
        "y": 460,
        "wires": [
            [
                "f76b3d83.9f85f"
            ]
        ]
    },
    {
        "id": "f76b3d83.9f85f",
        "type": "ui_gauge",
        "z": "c010e279.b0f748",
        "name": "Time9",
        "group": "5faa3ea2.2abf2",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Last packet sent",
        "label": "s",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 2010,
        "y": 460,
        "wires": []
    },
    {
        "id": "1e4db244.3602be",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "receptionSource11",
        "func": "var data = global.get(\"temps\")|| {\"trackeur11\":0, \"trackeur22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar d = new Date();\nvar t = d.getTime();\n//var trackeur= \"trackeur9\";\ndata.trackeur11= t;\nglobal.set(\"temps\",data);\nmsg.payload = t;\n\nvar msg1= {\"payload\" :global.get(\"T11\")};\n\nreturn [msg,msg1];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 690,
        "y": 580,
        "wires": [
            [
                "6afe9f44.d5bc6"
            ],
            [
                "e37da1da.76d0a",
                "3e4248a6.ea2f78"
            ]
        ]
    },
    {
        "id": "2878a6cd.527e6a",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Calcul du temps trackeur 11",
        "func": "var data = global.get(\"temps\")|| {\"trackeur11\":0, \"tracker22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar t  =msg.payload;\nmsg.payload=(t - data.trackeur11)/1000;\nif(msg.payload > 1800) {\n    msg.payload = 1800;\n}\nglobal.set(\"T11\",msg.payload);\n//global.set(\"temps\",data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1720,
        "y": 520,
        "wires": [
            [
                "718640d5.7a8cb"
            ]
        ]
    },
    {
        "id": "718640d5.7a8cb",
        "type": "ui_gauge",
        "z": "c010e279.b0f748",
        "name": "Time11",
        "group": "592d618e.960588",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Last packet sent",
        "label": "s",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "180",
        "seg2": "240",
        "x": 2020,
        "y": 520,
        "wires": []
    },
    {
        "id": "d24ec1bd.60d27",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Calcul du temps trackeur 22",
        "func": "var data = global.get(\"temps\")|| {\"trackeur11\":0, \"tracker22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar t  =msg.payload;\nmsg.payload=(t - data.trackeur22)/1000;\nif(msg.payload > 1800) {\n    msg.payload = 1800;\n}\nglobal.set(\"T22\",msg.payload);\n//global.set(\"temps\",data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1720,
        "y": 580,
        "wires": [
            [
                "5de0f477.747a7c"
            ]
        ]
    },
    {
        "id": "5de0f477.747a7c",
        "type": "ui_gauge",
        "z": "c010e279.b0f748",
        "name": "Time22",
        "group": "8a0d8a0e.218f4",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Last packet sent",
        "label": "s",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "180",
        "seg2": "240",
        "x": 2020,
        "y": 580,
        "wires": []
    },
    {
        "id": "2bd41349.c8ee6c",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Calcul du temps trackeur 33",
        "func": "var data = global.get(\"temps\")|| {\"trackeur11\":0, \"tracker22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar t  =msg.payload;\nmsg.payload=(t - data.trackeur33)/1000;\nif(msg.payload > 1800) {\n    msg.payload = 1800;\n}\nglobal.set(\"T33\",msg.payload);\n//global.set(\"temps\",data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1720,
        "y": 640,
        "wires": [
            [
                "fc0e5914.78fc18"
            ]
        ]
    },
    {
        "id": "fc0e5914.78fc18",
        "type": "ui_gauge",
        "z": "c010e279.b0f748",
        "name": "Time33",
        "group": "41f79675.0edb2",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Last packet sent",
        "label": "s",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "180",
        "seg2": "240",
        "x": 2020,
        "y": 640,
        "wires": []
    },
    {
        "id": "f4e2ec95.43e1a",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "receptionSource22",
        "func": "var data = global.get(\"temps\")|| {\"trackeur11\":0, \"trackeur22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar d = new Date();\nvar t = d.getTime();\n//var trackeur= \"trackeur9\";\ndata.trackeur22= t;\nglobal.set(\"temps\",data);\nmsg.payload = t;\n\nvar msg1= {\"payload\" :global.get(\"T22\")};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "noerr": 0,
        "x": 690,
        "y": 780,
        "wires": [
            [
                "1c538783.8691e8"
            ],
            [
                "ee278abc.ce1cd8",
                "e2708b86.89d738"
            ]
        ]
    },
    {
        "id": "5634b452.d08d7c",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "receptionSource33",
        "func": "var data = global.get(\"temps\")|| {\"trackeur11\":0, \"trackeur22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar d = new Date();\nvar t = d.getTime();\n//var trackeur= \"trackeur9\";\ndata.trackeur33= t;\nglobal.set(\"temps\",data);\nmsg.payload = t;\n\nvar msg1= {\"payload\" :global.get(\"T33\")};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "noerr": 0,
        "x": 690,
        "y": 980,
        "wires": [
            [
                "5f6e34d5.1b146c"
            ],
            [
                "633c18f0.793308",
                "3ca3614e.dd87fe"
            ]
        ]
    },
    {
        "id": "855fa985.439ca8",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "99ca45a7.88f098",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reçu à",
        "format": "{{msg.payload.slice(-11)}}",
        "layout": "row-spread",
        "x": 1140,
        "y": 560,
        "wires": []
    },
    {
        "id": "e72db54f.bd0a98",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "3cf426d2.d646da",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reçu à",
        "format": "{{msg.payload.slice(-11)}}",
        "layout": "row-spread",
        "x": 1140,
        "y": 360,
        "wires": []
    },
    {
        "id": "8555cf3e.7b6ba",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "5d7b69f2.201588",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reçu à",
        "format": "{{msg.payload.slice(-11)}}",
        "layout": "row-spread",
        "x": 1140,
        "y": 760,
        "wires": []
    },
    {
        "id": "79145815.00e2f8",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "9eb0bdb1.bc5f1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reçu à",
        "format": "{{msg.payload.slice(-11)}}",
        "layout": "row-spread",
        "x": 1140,
        "y": 960,
        "wires": []
    },
    {
        "id": "b8f57653.d39a88",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Conversion Heure",
        "func": "// initialize new Date object\nvar date_ob = new Date();\nmsg.payload=date_ob.toLocaleString('en-EU', { timeZone: 'Europe/Paris' });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 360,
        "wires": [
            [
                "e72db54f.bd0a98"
            ]
        ]
    },
    {
        "id": "6afe9f44.d5bc6",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Conversion Heure",
        "func": "// initialize new Date object\nvar date_ob = new Date();\nmsg.payload=date_ob.toLocaleString('en-EU', { timeZone: 'Europe/Paris' });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 560,
        "wires": [
            [
                "855fa985.439ca8"
            ]
        ]
    },
    {
        "id": "1c538783.8691e8",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Conversion Heure",
        "func": "// initialize new Date object\nvar date_ob = new Date();\nmsg.payload=date_ob.toLocaleString('en-EU', { timeZone: 'Europe/Paris' }); //Europe/London\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 760,
        "wires": [
            [
                "8555cf3e.7b6ba"
            ]
        ]
    },
    {
        "id": "5f6e34d5.1b146c",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Conversion Heure",
        "func": "// initialize new Date object\nvar date_ob = new Date();\nmsg.payload=date_ob.toLocaleString('en-EU', { timeZone: 'Europe/Paris' });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 960,
        "wires": [
            [
                "79145815.00e2f8"
            ]
        ]
    },
    {
        "id": "e8f241cc.0427a",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Variable Globale",
        "func": "// Définition d’une variable globale\n\nglobal.set(\"last_time9\",{\"T9\":0});\nglobal.set(\"last_time11\",{\"T11\":0});\nglobal.set(\"last_time22\",{\"T22\":0});\nglobal.set(\"last_time33\",{\"T33\":0});\n\nglobal.set(\"Table9\",{\"Tab9\":0});\nglobal.set(\"Table11\",{\"Tab11\":0});\nglobal.set(\"Table22\",{\"Tab22\":0});\nglobal.set(\"Table33\",{\"Tab33\":0});\n\nglobal.set(\"check_0\",{\"cpt\":0});\nif(global.get(\"check_0\")===0){\n    global.set(\"max_lasttime\", 5);\n    //var hist_lasttime9 = global.get(\"hist_lasttime9\") || [];\n    //var hist_lasttime11 = global.get(\"hist_lasttime11\") || [];\n    //var hist_lasttime22 = global.get(\"hist_lasttime22\") || [];\n    //var hist_lasttime33 = global.get(\"hist_lasttime33\") || [];\n    global.set(\"hist_lasttime9\", []);\n    global.set(\"hist_lasttime11\", []);\n    global.set(\"hist_lasttime22\", []);\n    global.set(\"hist_lasttime33\", []);\n}\nglobal.set(\"check_0\",1);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "8966c96b.42ca28"
            ]
        ]
    },
    {
        "id": "2fe65538.4dd6ca",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "5faa3ea2.2abf2",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Time(en s)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 400,
        "wires": []
    },
    {
        "id": "e37da1da.76d0a",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "592d618e.960588",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Time(en s)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 600,
        "wires": []
    },
    {
        "id": "ee278abc.ce1cd8",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "8a0d8a0e.218f4",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Time(en s)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 800,
        "wires": []
    },
    {
        "id": "633c18f0.793308",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "41f79675.0edb2",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Time(en s)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e3b51382.fd72a",
        "type": "debug",
        "z": "c010e279.b0f748",
        "name": "Historique",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 380,
        "y": 700,
        "wires": []
    },
    {
        "id": "c5acdbf9.a7f2e8",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Enregistrer_Table",
        "func": "var tab_hist = global.get(\"hist_lasttime9\");\nvar taille = tab_hist.length;\nvar taille_max = global.get(\"max_lasttime\");\nvar data = JSON.parse(msg.payload);\nif(taille >= taille_max) {\n    //tab_hist.length = taille_max - 1;\n    tab_hist.shift();\n}\ntab_hist.push(data);\nglobal.set(\"hist_lasttime9\", tab_hist);\nmsg.payload = tab_hist;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 440,
        "wires": [
            [
                "9759dd2b.6e135",
                "3fcb6a04.4c2076",
                "a501f336.b7c09",
                "3409c2ab.7bc27e",
                "58bbf985.eba6f8",
                "8ca1c0ce.48685"
            ]
        ]
    },
    {
        "id": "9759dd2b.6e135",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "3cf426d2.d646da",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée + ancienne",
        "format": "{{msg.payload[0]}}",
        "layout": "row-spread",
        "x": 1190,
        "y": 400,
        "wires": []
    },
    {
        "id": "3fcb6a04.4c2076",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "3cf426d2.d646da",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée 3",
        "format": "{{msg.payload[1]}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 420,
        "wires": []
    },
    {
        "id": "8ca1c0ce.48685",
        "type": "debug",
        "z": "c010e279.b0f748",
        "name": "historique source9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1190,
        "y": 520,
        "wires": []
    },
    {
        "id": "a501f336.b7c09",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "3cf426d2.d646da",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée 2",
        "format": "{{msg.payload[2]}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 440,
        "wires": []
    },
    {
        "id": "3409c2ab.7bc27e",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "3cf426d2.d646da",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée 1",
        "format": "{{msg.payload[3]}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 460,
        "wires": []
    },
    {
        "id": "58bbf985.eba6f8",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "3cf426d2.d646da",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée + récente",
        "format": "{{msg.payload[4]}}",
        "layout": "row-spread",
        "x": 1180,
        "y": 480,
        "wires": []
    },
    {
        "id": "3ca3614e.dd87fe",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Enregistrer_Table",
        "func": "var tab_hist = global.get(\"hist_lasttime33\");\nvar taille = tab_hist.length;\nvar taille_max = global.get(\"max_lasttime\");\nvar data = JSON.parse(msg.payload);\nif(taille >= taille_max) {\n    tab_hist.length = taille_max - 1;\n}\ntab_hist.push(data);\nglobal.set(\"hist_lasttime33\", tab_hist);\nmsg.payload = tab_hist;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 1040,
        "wires": [
            [
                "f7c9cc56.4cf12",
                "389cdde8.b38e02",
                "b878a0ee.a3355",
                "541f7faa.a2667",
                "8a184acd.75af08",
                "2058eef5.aaff82"
            ]
        ]
    },
    {
        "id": "f7c9cc56.4cf12",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "9eb0bdb1.bc5f1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée + ancienne",
        "format": "{{msg.payload[0]}}",
        "layout": "row-spread",
        "x": 1190,
        "y": 1000,
        "wires": []
    },
    {
        "id": "389cdde8.b38e02",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "9eb0bdb1.bc5f1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée 3",
        "format": "{{msg.payload[1]}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b878a0ee.a3355",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "9eb0bdb1.bc5f1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée 2",
        "format": "{{msg.payload[2]}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 1040,
        "wires": []
    },
    {
        "id": "541f7faa.a2667",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "9eb0bdb1.bc5f1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée 1",
        "format": "{{msg.payload[3]}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 1060,
        "wires": []
    },
    {
        "id": "8a184acd.75af08",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "9eb0bdb1.bc5f1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée + récente",
        "format": "{{msg.payload[4]}}",
        "layout": "row-spread",
        "x": 1180,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e2708b86.89d738",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Enregistrer_Table",
        "func": "var tab_hist = global.get(\"hist_lasttime9\");\nvar taille = tab_hist.length;\nvar taille_max = global.get(\"max_lasttime\");\nvar data = JSON.parse(msg.payload);\nif(taille >= taille_max) {\n    //tab_hist.length = taille_max - 1;\n    tab_hist.shift();\n}\ntab_hist.push(data);\nglobal.set(\"hist_lasttime9\", tab_hist);\nmsg.payload = tab_hist;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 840,
        "wires": [
            [
                "a8bb8006.9a6d9",
                "6ba6da43.704234",
                "930ab4a0.9c1428",
                "3945bf7.6cfe64",
                "9569ec0c.592c3",
                "c4c824bd.944038"
            ]
        ]
    },
    {
        "id": "a8bb8006.9a6d9",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "5d7b69f2.201588",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée + ancienne",
        "format": "{{msg.payload[0]}}",
        "layout": "row-spread",
        "x": 1190,
        "y": 800,
        "wires": []
    },
    {
        "id": "6ba6da43.704234",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "5d7b69f2.201588",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée 3",
        "format": "{{msg.payload[1]}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 820,
        "wires": []
    },
    {
        "id": "930ab4a0.9c1428",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "5d7b69f2.201588",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée 2",
        "format": "{{msg.payload[2]}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 840,
        "wires": []
    },
    {
        "id": "3945bf7.6cfe64",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "5d7b69f2.201588",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée 1",
        "format": "{{msg.payload[3]}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 860,
        "wires": []
    },
    {
        "id": "9569ec0c.592c3",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "5d7b69f2.201588",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée + récente",
        "format": "{{msg.payload[4]}}",
        "layout": "row-spread",
        "x": 1180,
        "y": 880,
        "wires": []
    },
    {
        "id": "3e4248a6.ea2f78",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Enregistrer_Table",
        "func": "var tab_hist = global.get(\"hist_lasttime11\");\nvar taille = tab_hist.length;\nvar taille_max = global.get(\"max_lasttime\");\nvar data = JSON.parse(msg.payload);\nif(taille >= taille_max) {\n    //tab_hist.length = taille_max - 1;\n    tab_hist.shift();\n}\ntab_hist.push(data);\nglobal.set(\"hist_lasttime11\", tab_hist);\nmsg.payload = tab_hist;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 640,
        "wires": [
            [
                "f999b47f.ced0a8",
                "a41d26c7.e95668",
                "78540b4.fc747f4",
                "2c0f3520.01f60a",
                "c81521c7.766e2",
                "9ef54b59.a6c7a8"
            ]
        ]
    },
    {
        "id": "f999b47f.ced0a8",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "99ca45a7.88f098",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée + ancienne",
        "format": "{{msg.payload[0]}}",
        "layout": "row-spread",
        "x": 1190,
        "y": 600,
        "wires": []
    },
    {
        "id": "a41d26c7.e95668",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "99ca45a7.88f098",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée 3",
        "format": "{{msg.payload[1]}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 620,
        "wires": []
    },
    {
        "id": "78540b4.fc747f4",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "99ca45a7.88f098",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée 2",
        "format": "{{msg.payload[2]}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 640,
        "wires": []
    },
    {
        "id": "2c0f3520.01f60a",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "99ca45a7.88f098",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée 1",
        "format": "{{msg.payload[3]}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 660,
        "wires": []
    },
    {
        "id": "c81521c7.766e2",
        "type": "ui_text",
        "z": "c010e279.b0f748",
        "group": "99ca45a7.88f098",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Durée + récente",
        "format": "{{msg.payload[4]}}",
        "layout": "row-spread",
        "x": 1180,
        "y": 680,
        "wires": []
    },
    {
        "id": "3ac85388.8e093c",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "Variable Globale",
        "func": "// Définition d’une variable globale\nvar temps = global.get(\"temps\");\nif (typeof temps === \"undefined\") {\n    temps = [];\n    temps[1] = {\"last_time\":0,\"Table\":0,\"hist_lasttime\":[]};\n    temps[2] = {\"last_time\":0,\"Table\":0,\"hist_lasttime\":[]};\n    temps[3] = {\"last_time\":0,\"Table\":0,\"hist_lasttime\":[]};\n    temps[4] = {\"last_time\":0,\"Table\":0,\"hist_lasttime\":[]};\n    global.set(\"temps\",temps);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9ef54b59.a6c7a8",
        "type": "debug",
        "z": "c010e279.b0f748",
        "name": "historique source11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1190,
        "y": 720,
        "wires": []
    },
    {
        "id": "c4c824bd.944038",
        "type": "debug",
        "z": "c010e279.b0f748",
        "name": "historique source22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1190,
        "y": 920,
        "wires": []
    },
    {
        "id": "2058eef5.aaff82",
        "type": "debug",
        "z": "c010e279.b0f748",
        "name": "historique source33",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1190,
        "y": 1120,
        "wires": []
    },
    {
        "id": "40ccbdbb.179904",
        "type": "function",
        "z": "c010e279.b0f748",
        "name": "receptionSource",
        "func": "var data = JSON.parse(msg.payload);\nvar id = data.source;\nid = parseInt(id/10);\n\nvar data = global.get(\"temps\")|| {\"trackeur11\":0, \"trackeur22\":0,\"trackeur33\":0,\"trackeur9\":0};\nvar d = new Date();\nvar t = d.getTime();\n//var trackeur= \"trackeur9\";\ndata.trackeur9= t;\nglobal.set(\"temps\",data);\nmsg.payload = t;\n\nvar msg1= {\"payload\" :global.get(\"T9\")};\n\nreturn [msg,msg1];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 360,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "592d618e.960588",
        "type": "ui_group",
        "z": "",
        "name": "Tracker Terrain (n°11)",
        "tab": "729ad69c.580de",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8a0d8a0e.218f4",
        "type": "ui_group",
        "z": "",
        "name": "Tracker Gateway (n°22)",
        "tab": "729ad69c.580de",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "41f79675.0edb2",
        "type": "ui_group",
        "z": "",
        "name": "Tracker maison (n°33)",
        "tab": "729ad69c.580de",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5faa3ea2.2abf2",
        "type": "ui_group",
        "z": "",
        "name": "Tracker UCA (n°9)",
        "tab": "729ad69c.580de",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9fdb60f0.57fc9",
        "type": "ui_group",
        "z": "",
        "name": "Raspberry",
        "tab": "729ad69c.580de",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f07646ea.0ac518",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "www.maqiatto.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "99ca45a7.88f098",
        "type": "ui_group",
        "z": "",
        "name": "Tracker Terrain",
        "tab": "5287b657.9e07e8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3cf426d2.d646da",
        "type": "ui_group",
        "z": "",
        "name": "Tracker  UCA",
        "tab": "5287b657.9e07e8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5d7b69f2.201588",
        "type": "ui_group",
        "z": "",
        "name": "Tracker Gateway",
        "tab": "5287b657.9e07e8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9eb0bdb1.bc5f1",
        "type": "ui_group",
        "z": "",
        "name": "Tracker Maison",
        "tab": "5287b657.9e07e8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "729ad69c.580de",
        "type": "ui_tab",
        "z": 0,
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5287b657.9e07e8",
        "type": "ui_tab",
        "z": "",
        "name": "Historique",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]